<footer>
  <div
    class="d-flex flex-column justify-content-center align-item-center text-center vh-30"
  >
    <div class="text-center">
      <img src="./img/logo.jpeg" height="100px" width="100px" alt="logo" />
    </div>
    <div class="brand mb-4" href="/">Escape Heaven</div>
    <ul class="d-flex justify-content-center">
      <li>Shivam Patel (8994760)</li>
      <li>Jithin Thomas Jacob (8999103)</li>
      <li>Rajini</li>
    </ul>
  </div>
</footer>
